<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="container">
  <h2>Desarroladores del Sistema</h2>
 
  <!-- Left-aligned media object -->
  <div class="media">
    <div class="media-left">
      <img src="<%=asset_path'palomo.JPG'%>" class="media-object" style="width:150px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Carlos Alberto Martinez Palomo</h4>
      <p>Roles: Lider de proyecto, Analista</p>
    </div>
  </div>
  <hr>
  
  <!-- Right-aligned media object -->
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">Rene Lopez Vazquez</h4>
      <p>Documentador</p>
    </div>
    <div class="media-right">
      <img src="<%=asset_path'rene.jpg'%>" class="media-object" style="width:150px">
      
    </div>
  </div>

   <!-- Left-aligned media object -->
  <div class="media">
    <div class="media-left">
      <img src="img_avatar1.png" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Leonardo Mujica Palomares</h4>
      <p>Programador</p>
    </div>
  </div>
  <hr>
</div>

</body>
</html>